<h1>Course Days</h1>

<% @course_days.each do |course_day| %>
  <ul>
    <li><%= course_day.date %></li>
  </ul>
<%end%>

<%= render('layouts/errors', :object => @course_day) %>

<form action="/course_days" method="post">
  <input id="date" name="course_day[date]" type="date">
  <button>Add</button>
</form>

