<h1>Course Days</h1>

<% @course_days.each do |course_day| %>
  <ul>
    <li>
      <form action="/course_days/<%= course_day.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input id="date" name="course_day[date]" type="date" value="<%= course_day.date %>">
        <a href="/course_days/<%= course_day.id %>" data-confirm="You Sure?" data-method="delete" rel="nofollow"><button>Delete</button></a>
        <button>Update</button>
      </form>
    </li>
  </ul>
<%end%>

<%= render('layouts/errors', :object => @course_day) %>

<form action="/course_days" method="post">
  <input id="date" name="course_day[date]" type="date">
  <button>Add</button>
</form>

