<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <li>
      <form action="/students/<%= student.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input id="name" name="student[name]" placeholder="<%= student.name %>">
        <button>Update</button>
      </form>
    </li>
  <% end %>
</ul>

<% if @student.errors.any?%>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/students" method="post">
  <input id="name" name="student[name]" placeholder="Enter New Name" type="text">
  <button>Add</button>
</form>





