<h1>Students</h1>

<ul>
  <% @students.each do |student| %>
    <li><%= student.name %></li>
  <% end %>
</ul>

<form action="/students" method="post">
  <input id="student_name" name="student[name]" placeholder="Enter New Name" type="text">
  <button>Add</button>
</form>


<% if @student.errors.any?%>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @student.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


