<h1>Courses</h1>

<% @courses.each do |course| %>
  <ul>
    <li>
      <form action="/<%= course.id %>" method="post">
        <input name="_method" type="hidden" value="patch">
        <input id="date" name="course[name]" type="text" value="<%= course.name %>">
        <button>Update</button>
      </form>
    </li>
  </ul>
<%end%>

<%= render('layouts/errors', :object => @course) %>

<form action="/" method="post">
  <input id="name" name="course[name]" type="text">
  <button>Add</button>
</form>
