<h1>Courses</h1>

<% @courses.each do |course| %>
  <ul>
    <li><%= course.name %></li>
  </ul>
<% end %>

<%= render('layouts/errors', :object => @course) %>

<form action="/" method="post">
  <input id="name" name="course[name]" type="text">
  <button>Add</button>
</form>
